<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Webpage Tone Analyzer</title>
    <style type="text/css">
      body {
        margin: 10px;
        white-space: nowrap;
      }

      h1 {
        font-size: 15px;
      }

      #container {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    </style>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
    -->
    <script src=url_for('static', filename = 'popup.js')></script>

  </head>

  <body>
    <h1>Website Text Tone Analyzer</h1>
    <p>Click To Analyze!</p>
    <button>Analyze!</button>
    <p id = "outputString"></p>

    <form action="run_analysis" method="POST" enctype="multipart/form-data">
      url: <input type="text" name="url"><br>
      <input type="submit" name="submit" value="Submit">
    </form>

    {% for lst in sorted_entities %}
      {% for entry in lst %}
        <p>{{entry}}</p>
      {% endfor %}
    {% endfor %}
  </body>
</html>
